:root {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;   /* TODO: Better solution */
    background-color: #191919;
    background-image: url('../images/BG.png');
}

#bg-overlay {
    position: absolute;
    width: 140%;
    height: 140%;
    top: -20%;
    left: -20%;
    background-image: url('../images/bg_filter.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#root-container {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 2fr 0.5fr 0.5fr;
    gap: 0px 0px; 
    grid-template-areas: 
        "logo"
        "header"
        "links-container"; 
    width: 100%;
    height: 80vh;
    top: 10%;
    left: 50%;
    margin: 0;
    transform: translateX(-50%) translateY(-10%);
}

#logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo img {
    max-width: 50vh;
    height: inherit;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .divider {
    position: relative;
    bottom: 1em;
    width: 35vw;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

#links-container {
    grid-area: links-container;
    display: grid; 
    grid-template-columns: 1fr 20% 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". links .";
}

h1 {
    color: #dcdcdc;
    font-family: 'Fira Code', monospace;
    font-size: 5vw;
    max-width: 80%;
}

@media screen and (max-width: 1000px) {
    #links-container {
        grid-template-columns: 1fr 2fr 1fr; 
    }

    .header .divider {
        position: relative;
        bottom: 0;
        width: 35vw;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

@media screen and (max-width: 600px) {
    #logo img {
        width: 100%;
        height: inherit;
    }

    h1 {
        font-size: 2em;
        overflow-wrap: break-word;
        text-align: left;
    }
}

#links-container .links {
    grid-area: links;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links span :last-child {
    color: #2eec71;
    font-size: 2rem;
    padding: 1rem;
}

.links span :first-child {
    position: absolute;
    width: calc(4em - 2px);
    height: calc(4em - 2px);
    transform: translateX(-1px) translateY(1px);
    border: solid transparent 2px;
    border-radius: 50%;
    border-top: none;
    border-right: none;
}

.links span :first-child:hover {
    animation: links-hover 0.4s linear;
}

.blink {
    animation: cursor 1s steps(1, jump-end) infinite;
}

@keyframes links-hover {
    from {
        transform: rotateZ(0deg) scale(1);
    }
    50% {
        border-color: #75e69c;
    }
    to {
        transform: rotateZ(360deg) scale(1);
    }
}

@keyframes cursor {
    0% {
       opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
}